<nav class="navbar navbar-expand-lg navbar navbar-dark bg-success">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Employee-Dashborad</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link active" href="#">Login</a>
          <a class="nav-link active" href="#">About</a>
          
        </div>
      </div>
    </div>
  </nav>
  <div>
      <img [src]="myimage" alt="">
  </div>
  
